* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    overflow: hidden;
}

.navbar-container {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    background-color: #1a1a1a;
    padding: 4px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    border-bottom: 2px solid #6e6e6e;
    overflow: hidden;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-menu li {
    list-style: none;
    font-family: "Hanken Grotesk", sans-serif;
    padding: 10px;
}

.nav-menu li a {
    text-decoration: none;
    color: #E3BEBD;
    font-size: 16px;
    font-weight: bold;
}

.nav-item {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-item .nav-user {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: 3px solid white;
    overflow: hidden;
    cursor: pointer;
}

.nav-item .nav-user img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    display: block;
}

.nav-search {
    position: relative;
}

.nav-search input {
    background-color: transparent;
    border: 2px solid rgb(151, 151, 151);
    outline: none;
    font-family: "Hanken Grotesk", sans-serif;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px 15px;
    color: #E3BEBD;
}

.nav-search span {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: white;
}

.btn-logout {
    background-color: #C41E3A;
    padding: 8px;
    outline: none;
    border-radius: 6px;
    color: white;
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
    border: 2px solid rgb(151, 151, 151);
}

.main-content {
    padding: 0px 15px;
    background-color: #1a1a1a;
    margin-top: 65px;
    height: calc(100vh - 65px);
    overflow-y: auto;
    scrollbar-width: thin;
}

.dashboard {
    width: 100%;
}

.background {
    position: relative;
    overflow: hidden;
    height: 700px;
}

.background img {
    width: 100%;
    height: auto;
    display: block;
}

.item {
    margin-top: 46px;
    display: flex;
    gap: 10px;
    color: white;
    padding: 0 40px;
    font-family: "Hanken Grotesk", sans-serif;
    width: 100%;
    line-height: 1.8;
}

.deskripsi {
    width: 50%;
}

.deskripsi h1 {
    margin-bottom: 10px;
    font-size: 25px;
}

.deskripsi p {
    word-spacing: 10px;
    margin-top: 6px;
    color: #E3BEBD;
}

.item-total {
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.item-total hr {
    border: 1px solid #5B4040;
}

.item-foto {
    margin-top: 30px;
    padding: 0 40px;
}

.item-foto h1 {
    color: white;
}

.foto-comonitas {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.foto-comonitas img {
    margin-top: 20px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.foto-comonitas img:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
    height: 500px;
}

.foto-comonitas img:nth-child(2) {
    grid-column: span 2;
    height: 240px;
}

.foto-comonitas img:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
    height: 500px;
}

.foto-comonitas img:nth-child(4) {
    grid-column: span 2;
    height: 240px;
}

.foto-comonitas img:nth-child(5) {
    grid-column: span 2;
    height: 240px;
}

/* varian */
.main-content::-webkit-scrollbar {
    width: 8px;
}

.main-content::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.nav-menu li:hover {
    border-bottom: 2px solid #C41E3A;
}

.background div::before,
.background div::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    z-index: 1;
}

.background div::before {
    left: 0;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.6),
            transparent);
}

.background div::after {
    right: 0;
    background: linear-gradient(to left,
            rgba(0, 0, 0, 0.6),
            transparent);
}